.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.parent {
  display: flex;
}
.parent div {
  border: 1px solid black;
  flex-grow: 1;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.bar-container {
  max-width: 200px;
  margin: 0 auto;
  padding: 30px;
}

.goal-bar {
  position: relative;
  height: 100%;
  padding-left: 30px;
}

.bar-label {
  display: inline-block;
  position: absolute;
  right: 0;
  margin-top: -6px;

  @for $i from 2 through 11 {
    &:nth-child(#{$i}) {
      top: percentage(($i * 0.1) - 0.1);
    }
  }

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-top: -12px;
  }
}



.bar-wrap {
position: relative;
height: 100%;
background: rgb(242, 242, 242);
border: 1px solid rgb(199, 199, 199);
border-radius: 3px;
overflow: hidden;
}

.bar-line {
position: absolute;
width: 100%;
height: 0;
margin: 0;
padding: 0;
border: none;
border-top: 1px solid rgb(199, 199, 199);

@for $i from 1 through 10 {
    &:nth-child(#{$i}) {
    top: percentage($i / 10);
    }
}
}

.bar {
position: absolute;
width: 100%;
height: 100%;
background: rgb(193, 232, 139);
transform: translateY(100%);
transition: all 0.2s;
}

.bar-info {
position: relative;
margin: 15px;
}
    
.bar-info-inner {
    padding: 10px;
    background: rgb(140, 197, 41);
    border-radius: 3px;
    color: white;
    text-align: center;
}

#welcome {
  margin-right: 30rem;
}

#add-run {
  margin-left: 5rem
}